/* 
#achievement{
     margin: 9px 0 7px 0;
}

#fields > label{
     padding: 3px 0 7px 3px;
     margin-bottom: 5px;
} */

.submit-btn{
     margin: 7px 5px 7px 5px;
}

/*textfield  */
.text-label{
    
}

.textField{
     
     padding: 7px 7px;
}


/* numberfield */
.numfield-div{
     
} 

.numField,.dateField,.textField {
     border-radius: 8px;
}


/* datefield */
.datefield-div{
    
} 

.dateField{
    
}