/* 
#achievement{
     margin: 9px 0 7px 0;
}

#fields > label{
     padding: 3px 0 7px 3px;
     margin-bottom: 5px;
} */

.submit-btn{
     margin: 7px 5px 5px 5px;
}
.main-div{
     /* background-color: bisque; */
     display: flex;
     justify-content: center;
     align-items: center;
     border: 5px  solid #fff ;
     border-radius: 7px;
     padding: 5px 0 10px 0;
}

.Achievementform{
     /* background-color: aquamarine; */
     margin:10px 0 ;

}
.achievement-field{
     margin:10px 0 ;
     /* backgroundcolor: aquamarine; */
     }
.add-achievement{
     
     margin: 15px 0 15px 0;
    
}
.btn-div{
     display: flex;
     justify-content: center;
     align-items: center;
}

 @media only screen and (max-width:500px){
     .add-achievement
     {
          padding: 10px 10px;
     }
     .main-div{
          width: 70vw;
     }
     
}
@media only screen and (max-width:800px){
     .add-achievement
     {
          padding: 10px 10px;
     }
     .main-div{
          width: 70vw;
     }
     
}

#sub-fields{
     /* background-color: #fff; */
     /* width: 500px; */
}
.textField{
     margin: 7px 7px;
     padding: 7px 7px;
}

.numField,.dateField,.textField {
     border-radius: 8px;
}
