#TopCollection{
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

/* Need better logic for button center */
#longAddButton{
    padding: 1%;
    margin-left: 6%;
    
}

#cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #F8F8F7;
    margin: 20px; 
    border-radius: 20px;
    margin:20px 30px;
}
#cards > div{
    margin: 10px;
    width: 80%;
}

#cardsContainer{
    background-color: #0389FF;
    padding: 20px 20px;
    margin: 20px 20px;
    border-radius: 20px;
}