/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-blue:#1C1258;
  --color-red:#EE4166;
  --color-pink:#EABFCB;
  --color-light: #D9F9FF;
  --color-dark: #293747;
  --color-Mustard: #FF9B00;
  --color-yellow: #FFD28C;
}

*{
  color: black;
}

main{
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); ;
  height: 100vh;
}