#TopCollection{
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /* background-color: antiquewhite; */
}

#ConferenceProceedingsCards, #booksPublishedCards{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #ffd9fe;
    margin: 20px;
    border-radius: 20px;
}

#ConferenceProceedingsCards >div, #booksPublishedCards>div{
    margin: 10px;
    width: 80%;
}

#ConferenceProceedingsCardsContainer, #booksPublishedCardsContainer{
        background-color: #1C1258;
        padding: 20px 20px;
        margin: 20px 20px;
        border-radius: 20px;
}